/*******************************************Header styling*******************************************/
.footer_section {
    background-color: var(--transition_lightMode);
    background-size: cover;
    padding: 79px 240px 15px;
    text-align: center;
}

.footer_brand {
    padding: 40px 0px 20px;
}

.privacy_policyPage {
    width: 100%;
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.clr {
    font-weight: 600;
    color: var(--clr-signtxt);
}

.footer-b {
    width: 44px;
    margin-right: 0px;
}

.zero_mar {
    display: inline;
}

.footer_brand a {
    font-weight: 500;
    font-size: 48px;
    line-height: 72px;
    color: var(--clr-primary);
}

.footer_social-icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 24%;
    margin: auto;
}

.left_mar {
    margin-left: 10px;
}

.right_mar {
    margin-right: 10px;
}

.none {
    display: none;
}

.hid {
    display: block;
}

.footer_copyright {
    font-weight: 500;
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    color: var(--clr-tertiory-footer);
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<MEDIA QUERIES<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<[1201px-1400px]<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */
@media (min-width:1201px) and (max-width:1400px) {
    .footer_section {
        padding: 70px 90px 40px;
    }

}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<[1201px-1400px]<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */
@media (min-width:993px) and (max-width:1200px) {
    .footer_section {
        padding: 60px 40px 40px;
    }
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<[768px-992px]<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */
@media (min-width:768px) and (max-width:992px) {
    .footer_section {
        padding: 60px 40px 40px;
    }

    .footer_social-icon {
        width: 58%;
    }
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<[568px-767px]<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */
@media (min-width:568px) and (max-width:767px) {
    .footer_section {
        padding: 60px 30px 40px;
    }

    .footer_social-icon {
        width: 58%;
    }

    .privacy_policyPage {
        width: 68%;
    }
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<[567px]<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */
@media screen and (max-width:567px) {
    .footer_section {
        padding: 60px 16px 40px;
    }

    .footer_social-icon {
        width: 88%;
    }

    .footer_brand a {
        font-size: 32px;
    }

    .privacy_policyPage {
        width: 82%;
        margin: 10px auto 15px;
    }

    .clr {
        font-size: 14px;
    }

    .footer_copyright {
        font-size: 14px;
        line-height: 20px;
    }
}